/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  	color: #555;
	font: normal 14px "Microsoft Yahei", Arial, Helvetica, sans-serif;
    min-height: 100%;
    height:100%;
    overflow-y: hidden;
}

.container {
    width:100%;
}

#page {
    padding-top:15px;
    height: calc(100vh - 51px);
    overflow-y: auto;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
  //border: 2px solid white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/*// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 10px;
//   height: 10px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   border: 2px solid white;
//   background-color: rgba(0, 0, 0, .3);
// }
// ::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(0, 0, 0, .8);
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//   background-color: rgba(0, 0, 0, .2);
// }*/
nav{
/* 设置为可拖动区域以适配electron */
    -webkit-app-region: drag;
}

nav li, nav a, nav button {
    -webkit-app-region: no-drag;
}

.brand-primary {color: #428bca;}
.brand-success {color: #5cb85c;}
.brand-info {color: #5bc0de;}
.brand-warning {color: #f0ad4e;}
.brand-danger {color: #d9534f;}

.bg1-primary {background-color: #428bca;}
.bg1-success {background-color: #5cb85c;}
.bg1-info {background-color: #5bc0de;}
.bg1-warning {background-color: #f0ad4e;}
.bg1-danger {background-color: #d9534f;}

.gray-darker {color: #222;}
.gray-dark {color: #333;}
.gray {color: #555;}
.gray-light {color: #999;}
.gray-lighter {color: #eee;}

.tmargin-1 {margin-top: -1px;}
.tmargin1 {margin-top: 10px;}
.tmargin2 {margin-top: 20px;}
.tmargin3 {margin-top: 30px;}
.tmargin4 {margin-top: 40px;}
.tmargin5 {margin-top: 50px;}
.tmargin6 {margin-top: 80px;}

.bmargin1 {margin-bottom: 10px;}
.bmargin2 {margin-bottom: 20px;}
.bmargin3 {margin-bottom: 30px;}
.bmargin4 {margin-bottom: 40px;}
.bmargin5 {margin-bottom: 50px;}
.bmargin6 {margin-bottom: 80px;}

.lmargin1 {margin-left: 10px;}
.lmargin2 {margin-left: 20px;}
.lmargin3 {margin-left: 30px;}
.lmargin4 {margin-left: 40px;}
.lmargin5 {margin-left: 50px;}
.lmargin6 {margin-left: 80px;}

.rmargin1 {margin-right: 10px;}
.rmargin2 {margin-right: 20px;}
.rmargin3 {margin-right: 30px;}
.rmargin4 {margin-right: 40px;}
.rmargin5 {margin-right: 50px;}
.rmargin6 {margin-right: 80px;}

.loading:after {
	content: url("loading.gif");
	padding-left:5px;
	vertical-align:middle;
    opacity: 0.8;
}

.graylink {
    text-decoration: none;
    cursor:pointer;
    color:#999;
}

.graylink:hover, graylink:active, graylink:focus
{
	color: #555;
}

.sidebar {
position: fixed;
top: 50px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #f5f5f5;
border-right: 1px solid #ddd;
color:#999;
}

.content {
position: fixed;
top: 50px;
bottom: 0;
left:0;
z-index: 1000;
display: block;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-block{
    margin-right: -16px; /* 20px padding + 1px border */
    margin-left: -15px;
    margin-top: 0px;
    margin-bottom:0px;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.sidebar-block-title {
    margin-bottom: 10px;
}

.sidebar-block-title i{
    width: 20px;
}

.sidebar-block-last{
    border-bottom: 0px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -16px; /* 20px padding + 1px border */
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
    padding: 8px 15px 8px 35px;
    color: #555;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > .active > a > .badge {
  background-color: #fff;
  color: #428bca;
}

.center {
    text-align: center;
}

.page-header {
    margin: 0 -15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.my-list-group .list-group-item{
    border-left: 0px;
    border-right:0px;

}

.my-list-group .list-group-item:first-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.my-list-group .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.drop-zone {
    border:2px #999 dashed;
    padding: 30px;
    border-radius: 5px;
    cursor:pointer;
}

.drop-zone:hover {
    border-color:#222;
}


.twobadge {
    color:#fff;
}
a.twobadge:hover, a.twobadge:focus {
    text-decoration: none;
    color:#fff;
}
.twobadge span {
    margin:0;
    padding:0px 5px;
}
.twobadge span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:#999;
}
.twobadge span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
